Plug "machakann/vim-highlightedyank"
Plug "tpope/vim-commentary"
Plug "preservim/nerdtree"

let mapleader=" "

set clipboard+=unnamed

set scrolloff=5

set relativenumber
set number

set hlsearch
set incsearch
set ignorecase
set smartcase

nmap <C-k> <C-w>k
nmap <C-j> <C-w>j
nmap <C-h> <C-w>h
nmap <C-l> <C-w>l

nmap <Esc> :nohlsearch<CR>

nmap <leader>e :NERDTree<CR>

nmap <leader>ff <Action>(GotoFile)
nmap <leader>fg <Action>(TextSearchAction)

nmap <leader>rn <Action>(RenameElement)
nmap <leader>ca <Action>(ShowIntentionActions)
